* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* header {
  height: 15vh;
} */

nav {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

nav .main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid rgb(226, 226, 226);
}

nav .logo-container {
  display: flex;
  align-items: center;
  color: #1e7e5e;
  margin: 10px 10px 10px 10px;
  /* width: 200px; */
}
nav .logo {
  height: 42px;
}

#dropdown-button {
  display: none;
}

nav .nav-button-container {
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
}

nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background-color: rgb(128, 0, 128);
  width: 110px;
  /* min-width: 60px; */
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 1130px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  #dropdown-button {
    display: block;
  }

  .hidden {
    display: none !important;
  }

  .logo-container {
    /* width: 100vw; */
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
  }

  .nav-button-container {
    display: flex;
    /* flex-direction: column; */
    /* width: 50vw; */
    flex-wrap: wrap;
  }

  nav button {
    height: 40px;
  }
}

header .sub-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  height: 5vh;
  color: rgb(167, 167, 167);
}

.main-content {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-input {
  display: block;
  margin: 15px;
}

.colors-container {
  height: 80%;
  width: 80%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.colors-container div {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.colors-container p {
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 4px 5px;
  margin: 5px;
}

.colors-container .rgb-style {
  font-size: 15px;
}

@media screen and (max-width: 920px) {
  header {
    display: flex;
    flex-direction: column;
  }
}
